 body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    margin: 50px;
}

h1 {
    background-color: green;
    padding: 30px;
    color: white;
    font-weight: bold;
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
}


.form-field {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

label {
    font-size: 1.5rem;
}

input {
    border: 3px solid green;
    border-radius: 5px;
    padding: 10px;

}

.btn {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}


#submit-btn {
    width: 80%;
    background-color: green;
    color: white;
    font-size: 1rem;
    font-weight: bold;


}
