* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #053B50;
}

h1 {
    font-style: italic;
}

p {
    margin: 20px 0;
}
#main {
    text-align: center;
    display: flex;  
    justify-content: center;

}

#poem {
    width: 50%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #f2f2f2;
}

#poem main {
    text-align: left;
    font-weight: 500;
}

